@import url(./__container/popup__container.css);
@import url(./__close-button/popup__close-button.css);
@import url(./__container-name/popup__container-name.css);
@import url(./__container-form/popup__container-form.css);
@import url(./__entry-field/popup__entry-field.css);
@import url(./__submit-button/popup__submit-button.css);

.popup {
    /*display: none;*/
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0,0, .5);
}