@import url(./__add-button/profile__add-button.css);

.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 882px;
    min-height: 120px;
    margin: 0 auto;
    padding: 40px 0 50px;
}