@import url(./__image/element__image.css);
@import url(./__description/element__description.css);
@import url(./__like/element__like.css);

.element {
    display: grid;
    grid-template-columns: minmax(209px, auto) 43px;
    grid-template-rows: minmax(282px, auto) 79px;
    grid-column-gap: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
}